<% for(var i=0; i< incarichi.length; i++) { %>
    <div class= "container">
        <br>

        
    <form action="/users/accettaIncarico" method="POST">
 
        <img id="box-image" style="width: 200px;" src="../images/<%-incarichi[i].foto%>" class="card-img" alt="image">
        <a class="list-group-item"> <%- incarichi[i].ID_noleggio %>  </a>
    <a class="list-group-item"> Dove: <%- incarichi[0].dove%>  </a>
    <a id =  "<%- incarichi[i].dal%>"  class="list-group-item target"> Dal: <%- incarichi[0].dal%>  </a>
    <a id =  "<%- incarichi[i].al%>" class="list-group-item target"  > Al: <%- incarichi[0].al%>  </a>

    <div class = "button-div">
        <input type="hidden" value="<%- incarichi[i].ID_noleggio%>" id="ID_noleggio" name="ID_noleggio">
        <button style="float: right; margin: 10px;" type="submit"mt class="btn btn-outline-secondary -3" id = "button" name="button">Accetta</button>
    </div>
   <br><br>
    </form>
       
</div>
        <% } %>

        <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>

   
        <% for(var i=0; i< incarichi.length; i++) { %>
        <script>
            dalString = '<%-incarichi[i].dal%>'
        alString = '<%-incarichi[i].al%>'
        dal = new Date(dalString).toLocaleString();
        al = new Date(alString).toLocaleString();
        document.getElementById('<%-incarichi[i].dal%>').innerText = 'Dal: ' + dal
        document.getElementById('<%-incarichi[i].al%>').innerText = 'Al: ' + al
      
        </script>

<% } %> 