<br>
    
<img id="box-image" style="width: 200px;" src="../images/<%- parcheggio.foto%>" class="card-img" alt="image">
<a class="list-group-item"> ID: <%- parcheggio.id_parcheggio %> </a>
<a class="list-group-item"> Auto <%- parcheggio.mezzo_auto %> : <%- parcheggio.numero_auto %> </a>
<a class="list-group-item"> Moto: <%- parcheggio.mezzo_moto%> :  <%- parcheggio.numero_moto %></a>
<a class="list-group-item"> Bici: <%- parcheggio.mezzo_bici %> : <%- parcheggio.numero_bici %> </a>
<a class="list-group-item"> Monopattino: <%- parcheggio.mezzo_monopattino %> : <%- parcheggio.numero_monopattino %> </a>
<a class="list-group-item"> Stato: <%- parcheggio.stato %> </a>
<a class="list-group-item"> Descrizione: <%- parcheggio.descrizione %> </a>
<a class="list-group-item"> Comune: <%- parcheggio.comune %> </a>
<a class="list-group-item"> Indirizzo: <%- parcheggio.indirizzo %> </a>
    
    <form action="/users/cancellaParcheggio" method="POST">
      <input type="hidden" id = "id_parcheggio" value=" <%- parcheggio.id_parcheggio %>">
      <button name="cancella" id="cancella" type="submit" class="btn btn-outline-secondary mt-3" onclick="if(!confirm('Sei sicuro di voler eliminare?')) return false" >Cancella </button>
<a id="procedi-btn" style="float: right;" href="modificadatiParcheggio" class= "btn btn-outline-secondary mt-3"> Modifica</a>
</form>
</div>
<a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
<br>
   <br>

   <script>
    notifica = ('<%-notifica.string%>')
    counter = parseInt('<%-notifica.counter%>')
    
    if (notifica == 'parcheggio modificato' && counter == 0 ){
    
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
    var state = history.state || {};
    var reloadCount = state.reloadCount || 0;
    if (performance.navigation.type === 1) { 
    state.reloadCount = ++reloadCount;
    history.replaceState(state, null, document.URL);
    } else if (reloadCount) {
    delete state.reloadCount;
    reloadCount = 0;
    history.replaceState(state, null, document.URL);
    }
    if (reloadCount >= 1) {
    
    }
    else{                   
    Toast.fire({
      icon: 'success',
      title: 'Parcheggio modificato con successo'
    })}
    
    
    }
    
          </script>
      
