<br>
    <img id="box-image" style="width: 200px;" src="../images/<%- mezzi.foto%>" class="card-img" alt="image">
    <a class="list-group-item"> Tipo: <%- mezzi.tipo_mezzo %>  </a>
    <a class="list-group-item"> Modello: <%- mezzi.modello%>  </a>
    <a class="list-group-item"> Targa: <%- mezzi.targa%>  </a>
    <a class="list-group-item"> Cilindrata:<%- mezzi.cilindrata %>  </a>
    <a class="list-group-item"> Cavalli: <%- mezzi.cavalli%>  </a>
    <a class="list-group-item"> Assicurazione: <%- mezzi.assicurazione%>  </a>
    <a class="list-group-item"> Descrizione: <%- mezzi.descrizione %>  </a>
    <a class="list-group-item"> Dove: <%- noleggio.dove%>  </a>
    <a id ="target-a"  class="list-group-item"> Dal: <%- noleggio.dal%>  </a>
    <a id = "target-b" class="list-group-item"> Al: <%- noleggio.al%>  </a>
    <a class="list-group-item">€<%- noleggio.prezzo%>  </a>
    <div class = "button-div">
        <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
    <a id="procedi-btn" style="float: right;" href="/NoleggioPT3" class= "btn btn-outline-secondary mt-3"> Procedi</a>
</div>
    <br>
<script>
    dalString = '<%-noleggio.dal%>'
alString = '<%-noleggio.al%>'
dal = new Date(dalString).toLocaleString();
al = new Date(alString).toLocaleString();
document.getElementById('target-a').innerText = 'Dal: ' + dal
document.getElementById('target-b').innerText = 'Al: ' + al
</script>

