
<center>
              <div class="img-wrapper"><img style="width : 30%; " src="../images/<%-parche[0].foto%>" alt="image Alt" title="Image Title"></div>
         
            </center>
        
             
      <% for(var i=0; i< mezzi.length; i++) { %>




        <br>
     <img id="box-image" style="width: 200px; border-radius: 20px;" src="../images/<%- mezzi[i].foto %>" class="card-img" alt="image">
        <a class="list-group-item">  ID : <%- mezzi[i].ID_mezzo %>  </a>
    
        <a class="list-group-item"> <%- mezzi[i].tipo_mezzo %>: <%- mezzi[i].modello %>  </a>
    
        <br>

       
    
    <form action="/users/noleggioPT2" method="POST"></form>
    
    
    
    
    <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
    
        <br>
    
        <% } %>



      

    
