

<br>
<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/ultimaModifica">

   
       

           <div class="form-group-time">
            <label for="dal">Dal(Giorno/ore)</label>
            <input id="dal" name = "dal"  type="datetime-local" class = "form-control" min="" required/>
            <div class="invalid-feedback">
Inserire una data ed un orario
            </div>

            <label for="al">Al(Giorno/ore)</label>
            <input id="al" name = "al"   type="datetime-local" class = "form-control"            required/>
            <div class="invalid-feedback">
                Inserire una data ed un orario
            </div>
        </div>

   <div class="form-group_autista">      
  <label for="Destinazione">Destinazione </label> 
        <!-- appliccare address field autocomplete-->
  <input id="Destinazione" name="Destinazione" type="text" class="form-control" placeholder="<%-mio_Noleggio.dove%>" value="<%-mio_Noleggio.dove%>"/>
   </div>

  <div>      
  <label for="Motivazione">Motivazione </label> 
        <!-- appliccare address field autocomplete-->
  <input id="Motivazione" name="Motivazione" type="text" class="form-control" placeholder="Motiva se in ritardo"/>
   </div>

        <br><br>
      
        <div class = "button_group">
            <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
        <button style="float: right;" type="submit" class="btn btn-outline-secondary -3">Avanti</button>
    </div>
</form>



<script>
today = new Date();
today.format('dd-m-yy'); // Returns '02-8-16'



    let autocomplete;
    function initAutocomplete(){
            autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('Destinazione'),
    
                           {
                types: ['establishment'],
                componentRestrictions: {'country' : ['IT']},
                fields: ['place_id', 'geometry', 'name']
                        } );
    }
    </script>
    
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLjJODqPRmxsGeumOVnJUnlU-9Mxqiqe8&libraries=places&callback=initAutocomplete">
    async
    </script>
    



    <script>
  dalString = '<%-mio_Noleggio.dal%>'
  alString = '<%-mio_Noleggio.al%>'
dal = new Date(dalString);
var today = new Date();
al = new Date(alString);

if ( dal>today){
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
var hh = today.getHours();
var min = today.getUTCMinutes();
var ss = today.getSeconds();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
    if(hh<10){
        hh='0'+hh
    }
    if(min<10){
        min='0'+min
    }
    if(ss<10){
        ss='0'+ss
    }


//dal min
today = yyyy+'-'+mm+'-'+dd+'T'+hh+':'+min+':'+'00';
document.getElementById('dal').value = today;
document.getElementById('dal').min = today;


today1 =  yyyy+'-'+mm+'-'+dd+'T'+(hh+1)+':'+min+':'+'00';
document.getElementById('al').value = today1
document.getElementById('al').min = today;
}




//noleggio in corso, non è possibile modificare l'inizio
else if (dal<today){
    today = dal;
    tomorrow = al;
    var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();
var hh = today.getHours();
var min = today.getUTCMinutes();
var ss = today.getSeconds();
 if(dd<10){
        dd='0'+dd
    } 
    if(mm<10){
        mm='0'+mm
    } 
    if(hh<10){
        hh='0'+hh
    }
    if(min<10){
        min='0'+min
    }
    if(ss<10){
        ss='0'+ss
    }

    var dd1 = tomorrow.getDate();
var mm1 = today.getMonth()+1; //January is 0!
var yyyy1 = today.getFullYear();
var hh1 = today.getHours();
var min1 = today.getUTCMinutes();
var ss1 = today.getSeconds();
 if(dd1<10){
        dd1='0'+dd1
    } 
    if(mm1<10){
        mm1='0'+mm1
    } 
    if(hh1<10){
        hh1='0'+hh1
    }
    if(min1<10){
        min1='0'+min1
    }
    if(ss1<10){
        ss1='0'+ss1
    }



today1 = yyyy+'-'+mm+'-'+dd+'T'+hh+':'+min+':'+'00';
tomorrow = yyyy1+'-'+mm1+'-'+dd1+'T'+hh1+':'+min1+':'+'00';

document.getElementById('dal').style.visible = 'hidden';

document.getElementById('dal').min = today1
document.getElementById('dal').value = today1;


document.getElementById('al').min = tomorrow

document.getElementById('al').value = tomorrow

}



    </script>


    

     <script>

strigDove = '<%-mio_Noleggio.dove%>'
document.getElementById('Destinazione') = stringDove


     </script>

