<form class="container was-validated col-sm-8 mt-3" method="POST" action="/users/modificaMezzo">

    <body>
    
        <div class="form-group">
            <label for="targa">Targa *</label>
            <input name="targa" id="targa" type="text" class="form-control" size="32" maxlength="10" required value=" <%- mezzo.targa %>" />
        </div>

        <div class="form-group">
            <label for="assicurazione">Assicurazione *</label>
            <input name="assicurazione" id="assicurazione" type="boolean" class="form-control" size="10" maxlength="40"
                required value="<%-mezzo.assicurazione%>" required/>
        </div>

      
        <div class="form-group">
            <label for="tariffa">Tariffa orario *</label>
            <input name="tariffa" id="tariffa" type="number" class="form-control" size="32" maxlength="10" required value="<%- mezzo.tariffa %>" />
        </div>

        <div class="form-group">
            <label for="foto">Foto *</label>
            <input name="foto" id="foto" type="file" accept="image/*" class="form-control" size="32" maxlength="40" required value="<%-mezzo.foto%>"/>
        </div>


        <div class="form-group">
            <label for="descrizione">Breve descrizione *</label>
            <textarea name="descrizione" id="descrizione" type="input" class="form-control" rows = "5" cols = "60"
                required value="<%- mezzo.descrizione %>"></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Guasto &nbsp;&nbsp;</span>
            </div>
            <select id="guasto" class="custom-select" name="guasto" required>
                <option value="" selected></option>
                <option value="SI">SI</option>
                <option value="NO">NO</option>
            </select>
            <div class="invalid-feedback">
                Selezionare se è stato riportato un guasto al veicolo
            </div>
        </div>



        <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>
            <button style = "float: right;"name="ok" id="ok" type="submit" class="btn btn-outline-secondary mt-3">Conferma</button>
        </form>
            

</body>