<style>
  .para {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }
  </style>
  </head>
  <body>

    <br>
    <p>La tua ultima consegna è prevista tra: </p>
  <p class="para"id="demo"></p>
  
                 

<% for(var i=0; i< noleggi.length; i++) { %>
    <div class= "container">
        <br>
        <img id="box-image" style="width: 200px;" src="../images/<%-noleggi[i].foto%>" class="card-img" alt="image">
        <a class="list-group-item"> <%- noleggi[i].ID_noleggio %>  </a>
    <a class="list-group-item"> Dove: <%- noleggi[i].dove%>  </a>
    <a id =  "<%- noleggi[i].dal%>"  class="list-group-item "> Dal: <%- noleggi[i].dal%>  </a>
    <a id =  "<%- noleggi[i].al%>" class="list-group-item "  > Al: <%- noleggi[i].al%>  </a>
   
        
  <form action="/users/cancellaNoleggio" id="targetC" method="POST"> 
    <input type="hidden" value="<%- noleggi[i].ID_noleggio%>" id="ID_noleggio" name="ID_noleggio">
    <button style="margin: 2px; float: right;" 
    type="submit" class="btn btn-outline-secondary -3" id = "button" name="button">Cancella 
  </button>
  </form>
      
      
    <form action="/users/mioNoleggio" method="POST">
      <input type="hidden" value="<%- noleggi[i].ID_noleggio%>" id="ID_noleggio" name="ID_noleggio">
      
      <button style="margin: 2px;"     
      type="submit"mt id = "targetB" class="btn btn-outline-secondary -3" id = "button" name="button">Modifica
    </button>
    <a href="QRcode"  class ="btn btn-outline-secondary -3" onclick="javascript:void window.open('QRcode','1630785512971','width=600,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=10,top=10');return false;">QRcode di sblocco</a>
    <a href="segnalaGuasto" id="targetA" style = "visibility: hidden;" class="btn btn-outline-secondary -3">Segnala Guasto</a>
  
  </form>



    </div>



        <br>
        <% } %>

        <a class="btn btn-outline-secondary mt-3" href="javascript:history.back()" class = "previous">&laquo; Indietro</a>

   
  
          
        </body>
                          
        <% for(var i=0; i< noleggi.length; i++) { %>
          <script>
              dalString = '<%-noleggi[i].dal%>'
          alString = '<%-noleggi[i].al%>'
          nowms = new Date().getTime();
          dalms = new Date(dalString).getTime();
 


            //se manca un ora al ritiro del mezzo
            if ((dalms - nowms) < 3600000){

document.getElementById('targetA').style.visibility = 'visible'
document.getElementById('targetB').innerText = 'Comunica Ritardo'
document.getElementById('targetC').action = '/users/consegnato'
document.getElementById('targetC').button.innerHTML ='Conferma Consegna!'

            }
          
          dal = new Date(dalString).toLocaleString();
          al = new Date(alString).toLocaleString();
          document.getElementById('<%-noleggi[i].dal%>').innerText = 'Dal: ' + dal
          document.getElementById('<%-noleggi[i].al%>').innerText = 'Al: ' + al
        
          </script>
  
  <% } %> 







  <script>

    
          // Set the date we're counting down to
        
        
                                           var y = parseInt("<%= rimanenti.t_y %>")
                                           var m = parseInt("<%= rimanenti.t_m %>")
                                           var d = parseInt("<%= rimanenti.t_d %>");
                                           var h = parseInt("<%= rimanenti.t_h %>");
                                           var min = parseInt("<%= rimanenti.t_min %>");
                                           var s = parseInt("<%= rimanenti.t_s %>");
                                
        
          var countDownDate = new Date(y,m,d,h,min,s).getTime();
          
          // Update the count down every 1 second
          var x = setInterval(function() {
          
            // Get today's date and time
            var now = new Date().getTime();
              
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
              
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = ((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
             
            ore = parseInt(hours);
        
            // Output the result in an element with id="demo"
            document.getElementById("demo").innerHTML = days + "d " + ore + "h "
            + minutes + "m " + seconds + "s ";
              
            // If the count down is over, write some text 
            if (distance < 0) {
              clearInterval(x);
              document.getElementById("demo").innerHTML = "EXPIRED";
            }
          }, 1000);
           
         function Myalert(){
        
          var countDownDate = new Date(y,m,d,h,min,s).getTime();
          
          
            // Get today's date and time
            var now = new Date().getTime();
              
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
              
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = ((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
         if (hours < 1){
                                     var state = history.state || {};
                    var reloadCount = state.reloadCount || 0;
                    if (performance.navigation.type === 1) { // Reload
                        state.reloadCount = ++reloadCount;
                        history.replaceState(state, null, document.URL);
                    } else if (reloadCount) {
                        delete state.reloadCount;
                        reloadCount = 0;
                        history.replaceState(state, null, document.URL);
                    }
                    if (reloadCount >= 1) {
                        // Now, do whatever you want...
                    }
                    else{                   
                        let timerInterval
        Swal.fire({
          title: 'Mezzo da consegnare!',
          icon: 'warning',
          html: 'I will close in <b></b> milliseconds.',
          timer: 2000,
          timerProgressBar: true,
          didOpen: () => {
            Swal.showLoading()
            timerInterval = setInterval(() => {
              const content = Swal.getHtmlContainer()
              if (content) {
                const b = content.querySelector('b')
                if (b) {
                  b.textContent = Swal.getTimerLeft()
                }
              }
            }, 100)
          },
          willClose: () => {
            clearInterval(timerInterval)
          }
        }).then((result) => {
          /* Read more about handling dismissals below */
          if (result.dismiss === Swal.DismissReason.timer) {
            console.log('I was closed by the timer')
          }
        })
                    }
                    }     } 
                    Myalert();
          </script>          
                             
                                          
                          